@media screen and (min-width: 601px) and (max-width: 1338px) {
    .container {
        padding: 30px;
    }
    .profiles {
        justify-content: space-between;
    }
    .profile {
        margin: 30px 0;
    }
    .drawing {
        width: 180px;
        height: 180px;
        font-size: 2.5rem;
    }
    .profile-btn {
        padding: 12px 24px;
        font-size: 1.1rem;
    }
    .website-explanation {
        margin-top: 50px;
    }
}

/* Estilos para telas maiores que 1338px */
@media screen and (min-width: 1339px) {
    .container {
        padding: 50px;
    }
    .profiles {
        justify-content: space-around;
    }
    .profile {
        margin: 50px 0;
    }
    .drawing {
        width: 200px;
        height: 200px;
        font-size: 3rem;
    }
    .profile-btn {
        padding: 16px 32px;
        font-size: 1.2rem;
    }
    .website-explanation {
        margin-top: 70px;
    }
}
