@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap');
*{
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background: black;
}

.navebar {
  position: fixed;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  height: auto;
  background: black;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid white;
}

.logo {
  flex: 20%;
  text-align: left;
  margin-left: 10%;
}

.logo h1 {
  font-family: "Oleo Script", system-ui;
  font-weight: 700;
  font-size: 40px;
  font-style: normal;
  color: white;
}

.menu {
  flex: 70%;
  text-align: right;
  padding: 20px;
}

.menu a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  padding: 20px 16px;
}

.menu a:hover {
  color: #180F4A;
  border-top: 4px solid #A020F0;
}

#botao {
  background: grey;
  padding: 10px 25px;
  color: white;
  border-radius: 5px;
  margin-left: 5%;
  cursor: pointer;
  opacity: 0.7;
  transition: opacity 0.3s ease;
}

#botao:hover {
  opacity: 1;
}

.header {
  display: flex;
  flex-flow: row wrap;
  height: auto;
  justify-content: center;
  align-items: center;
  padding: 100px;
}

.headline {
  flex: 40%;
  margin-left: 10%;
}

.headline h2 {
  font-weight: 900;
  font-size: 20px;
  color: white;
  padding: 0;
  margin: 0;
}

.headline p {
  color: white;
  text-align: left;
}

.img {
  margin-right: 10%;
  flex: 40%;
  text-align: center;
}

.lermais {
  display: inline-block;
  background: blue;
  padding: 20px;
  color: white;
  text-transform: uppercase;
  border-radius: 5px;
  text-decoration: none;
  border-radius: 10%;
}

.lermais:hover {
  background: red;
}

section{
  display: inline-block;
  margin-top: 80px;
  margin-left: 5%;
  margin-right: 5%;
}

section h2{
  width: 100%;
  font-size: 50px;
  margin: 0;
  font-family: "Oleo Script", system-ui;
  font-weight: bold;
  color: white;
  padding: 5%;
  text-align: center;
}

.conteudos{
  display: inline-block;
  margin-top: 5%;
}

.card-oculto{
  display: none;
}

.card-oculto p{
  color: white;
}

.card{
  display: inline-block;
  width: 30%;
  padding: 20px;
  margin: 1%;
  border: 1px solid red;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  color: white;
}

.card h3{
  font-family: "Rowdies", sans-serif;
  font-size: 35px;
}

.card:hover{
  background: red;
  padding: 40px;
  color: white;
}

.card:hover img{
  display: none;
}

.card:hover .card-text{
  display: none;
}

.card:hover .card-oculto{
  display: block;
}

footer{
  margin-top: 100px;
  height: 400px;
  background-image: linear-gradient(180deg,#5A0A8F,#060208,#2E010B);
  text-align: center;
  border-top: 5px solid white;
}

.logo-rodape{
  padding:100px;
}

.marca{
  font-family: "Oleo Script", system-ui;
  font-weight: 700;
  font-style: normal;
  color: white;
}

.card-oculto h3{
  color: white;
}

.bt{
  display: inline-block;
  background: black;
  padding: 20px;
  margin-left: 155px;
  margin-top: 50px;
  color: white;
  text-transform: uppercase;
  text-align: center;
  border-radius: 5px;
  border: 1px solid red;
  text-decoration: none;
  border-radius: 10%;
  cursor: pointer;
  opacity: 0.7;
  transition: opacity 0.3s ease;
}

.bt:hover{
  opacity: 1;
  background: black;
  padding: 15px;
  border: 1px solid pink;
  border-top:2px solid #180F4A;
}