/* Smartphones (600px para baixo) */ @media only screen and (max-width: 450px) {
  
 .menu{
    display: none;
  }
  
  .logo{
    text-align: center;
    margin: 0;
   font-size: 15px;
  }
  
  .navebar{
    position: relative;
    height: 125px;
  }
  
  .header{
    padding-top: 50px;
  }
  
  .headline{
    flex: 100%;
    margin: 5%;
    text-align: center;
  }
  
  .headline p{
    text-align: center;
  }
  
  .img{
    flex: 100%;
    margin: 5%;
    text-align: center;
  }
  
  .card{
    width: 100%;
  }
  
  
}

/* Super Largos (Telas maiores laptops, desktops e até TVs, 1200px para cima) */ @media only screen and (min-width: 500px) {
  
  .bt{
    display: none;
  }
}